{% extends "aiexcel/home.html" %}
{% load static %}
{% block chatactive %}active{% endblock chatactive %}
{% block css %}
<style>
    #chat-reply {
        margin-top: 20px;
    }
</style>
{% endblock css %}
{% block body %}
<div class="container mt-4">
    <h2>Get Excel knowledge</h2>
    <h5>here you can use single word to find their meaning with formula in excel.</h5>
    <form id="chat-form" action="{% url 'chat' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="message">Enter your question:</label>
            <input type="text" id="message" name="message" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Send</button>
    </form>
</div>

<div class="container mt-4">
    <div id="chat-reply"></div>
</div>
{% block js %}
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
{% endblock body %}
